<div class="center">
  <h1>Everything in the component svg-block</h1>
  <h2>Main color, hover, focus-visible</h2>
  <div class="left">
    <p>
      - icon="menu" - name of the file in the folder and the ID inside SVG file
      id="menu"
    </p>
    <p>- inside SVG file the fill="currentColor" OR stroke="currentColor"</p>
    <p>
      - to edit SVG in SV Code you need to right-click and select open With...
      Text Editor
    </p>
  </div>
</div>

<div class="icon-set">
  <div class="svg-block">
    <svg icon="home"></svg>
  </div>

  <div class="svg-block">
    <svg icon="check"></svg>
  </div>
</div>

<div class="icon-set">
  <div class="svg-block">
    <svg icon="menu"></svg>
  </div>

  <div class="svg-block">
    <svg icon="cart"></svg>
  </div>

  <div class="svg-block">
    <svg icon="calendar"></svg>
  </div>

  <div class="svg-block">
    <svg icon="user"></svg>
  </div>
</div>

<div class="icon-set">
  <div class="svg-block">
    <svg icon="plus"></svg>
  </div>

  <div class="svg-block">
    <svg icon="settings"></svg>
  </div>
</div>

<div class="icon-set">
  <div class="svg-block">
    <svg icon="check-big"></svg>
  </div>
</div>

<div class="dark-mode">
  <div class="icon-set">
    <div class="svg-block">
      <svg icon="home"></svg>
    </div>

    <div class="svg-block">
      <svg icon="check"></svg>
    </div>
  </div>
</div>
